@import './generales.scss';

.header{
    width: 100%;    
    .header__container{
        display: flex;
        align-items: center;
        .header__img{
            width: 25%;
            margin: 15px;
            
            .header__img--logo{
                width: 77px;
                height: 100px;
            }
        }
        
        .header__label{
            width: 75%;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-primary;
            @extend .header;
            
            .header__label--input{
                width: 50%;
                padding: 10px;
                border: none;
                border-radius: 5px;
                outline: none;
            }
            
            .header__label--input::placeholder{
                font-family: $font-parrafo;
                font-size: 12px;
                font-weight: 100;
                color: $grey;
                text-align: center;
            }
            
            .header__label--m{
                margin: 12px;
                
                .header__m--menu{
                    width: 30px;
                    height: 33px;
                }
            }
        }
    }
}

.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    
    &__container{
        margin-right: $margin-right-left;
        display: grid;
        grid-template-columns: 1fr 30px;
        column-gap: 10px;
        align-items: center;
        padding: 3px;
        background-color: $color-primary;

        .nav__container--ul{
            padding-left: 10px;
            font-family: $font-parrafo;
            font-weight: 300;
            color: $white;
        }

        .nav__container--list{
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 190px;
            background-color: #eb1768cf;
            z-index: 1;

            .nav__container--a{
                padding: 8px 8px 0 8px;
                font-family: $font-parrafo;
                font-weight: 100;
                color: $white;
                text-decoration: underline;
            }
            .nav__container--a:hover{
                font-family: $font-parrafo;
                font-weight: 400;
                color: $black;
                background-color: $white;
            }
        }

        .active{
            display: none; 
        }
        
        .nav__container--img{
            height: 20px;
            position: static;
        }
    }
}

.navArrow{
    width: 98%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: $margin-right-left;
    margin-right: $margin-right-left;
    
    .navArrow__back{
        width: 50px;
        height: 50px;
    }

    .navArrow__gender{
        margin-left: 15px;
        font-family: $font-title;
        font-size: 22px;
        color: $color-secundario;
    }
}

.inactive{
    display: none;
}

.section{
    width: 100%;
    margin-top: 20px;

    &__container{
        margin-bottom: 25px;
        
        .section__container--subtitle{
            margin-left: $margin-right-left;
            margin-right: $margin-right-left;
            border-bottom: 5px solid $color-terciario;
            
            .section__container--h2{
                padding-bottom: 5px;
                font-family: $font-subtitle;
                font-weight: 500;
                font-size: $font-wSubtitle;
                color: $color-secundario;
            }
        }
        
        .section__container--see{
            margin: 12px $margin-right-left;
            display: flex;
            justify-content: flex-end;
            
            .section__container--ver{
                font-family: $font-parrafo;
                font-size: 7vmin;
                text-decoration: none;
                color: $black;
            }
            
            .section__container--ver:hover{
                text-decoration: underline;
            }
        }

        .section__container--peliculas{
            max-height: 300px;
            margin: 0 $margin-right-left;
            display: flex ;
            overflow-x: scroll;
            column-gap: 15px;

            .containerImgBtn{
                position: relative;
            }
            
            .section__container--movie{
                min-width: 200px;
                height: 280px;
                line-height: 110px;
            }

            .buttonFav{
                width: 35px;
                height: 35px;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                left: 156px;
                background-color: $color-primary;
            }

            .buttonFav::before{
                content: '🤍';
                font-size: 20px;
            }

            .buttonFav__liked{
                background-color: white;
            }

            .buttonFav__liked::before{
                content: '💜';
                font-size: 20px;
            }
            .section__container--like{
                min-width: 200px;
                height: 290px;
            }
        }
    }
}

.section__container--load{
    min-width: 200px;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.133);
    transition: transform 1.5;
    animation-name: cards;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes cards{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0.8);   
    }
    100%{
        transform: scale(0.5);   
    }
}

.section2{
    @extend .section;
    
    &__container{
        margin-left: $margin-right-left;
        margin-right: $margin-right-left;

        .section2__container--imagen{
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            
            .section2__container--imag{
                width: 384px;
                height: 370px;
                object-fit: cover;
                border-radius: 6%;
            }

            .section__container--load3{
                width: 384px;
                height: 370px;
                @extend .section__container--load;
            }
        }

        .section2__container--details{
            margin-bottom: 15px;
            
            .section2__container--title{
                margin-bottom: 15px;

                .section2__container--titulo{
                    font-family: $font-subtitle;
                    font-size: 25px;
                }
                .section2__container--carga{
                    width: 100px;
                    height: 5   0px;
                    @extend .section__container--load;
                }
            }

            .section2__container--description{
                .section2__container--sipnosis{
                    font-family: $font-parrafo;
                    font-weight: 200;
                }
            }
        }

        .section2__container--subtitulo{
            .section2__container--Subtitle{
                border-bottom: 5px solid $color-terciario;
                
                .section2__container--h2{
                    padding-bottom: 5px;
                    font-family: $font-subtitle;
                    font-size: $font-wSubtitle;
                    color: $color-secundario;
                }
            }
            .section2__container--puntos{
                margin-top: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .section2__container--star{
                    width: 40px;
                }
                
                .section2__container--point{
                    font-family: $font-subtitle;
                    font-size: 30px;
                    font-weight: 600;
                    color: $color-primary;
                }
            }

            .section2__container--categorias{
                @extend .section2__container--puntos;
                
                .section2__container--p{
                    margin: 0 10px 10px 0;
                    font-family: $font-parrafo;
                    font-style: italic;    
                }
            }
        }

        .section2__container--similar{
            @extend .section2__container--subtitulo;

            .section2__container--simiSubtitle{
                @extend .section2__container--Subtitle;

                .section2__container--simiH2{
                    @extend .section2__container--h2;
                }
            }

            .section2__container--simiCate{
                max-height: 300px;
                display: flex;
                margin: 15px 0;
                column-gap: 5px;
                overflow-x: scroll;

                .section2__container--simiPeli{
                    min-width: 190px;
                    height: 270px;
                    /* background-color: aqua; */
                }

                .section__container--load2{
                    min-width: 190px;
                    height: 270px;
                    @extend .section__container--load;
                }

                /* @keyframes cards{
                    0%{
                        transform: scale(0);
                    }
                    50%{
                        transform: scale(0.8);   
                    }
                    100%{
                        transform: scale(0.5);   
                    }
                } */
            }
        }
    }
}

.section3{
    width: 100%;

    .section3__container{
        margin-left: $margin-right-left;
        margin-right: $margin-right-left;
        margin-top: 25px;
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: 247px;
        /* grid-template-columns: 170px 170px; */
        grid-template-rows: auto;
        column-gap: 5px;
        row-gap: 10px;

        .containerImgBtn{
            position: relative;
        }
        
        .section3__container--img{
            width: 247px;
            height: 277px;
            object-fit: cover;
        }

        .buttonFav{
            width: 35px;
            height: 35px;
            margin: 0;
            padding: 0;
            border: none;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 200px;
            background-color: $color-primary;
        }

        .buttonFav::before{
            content: '🤍';
            font-size: 20px;
        }

        .buttonFav__liked{
            background-color: white;
        }

        .buttonFav__liked::before{
            content: '💜';
            font-size: 20px;
        }

        .section__container--load4{
            width: 180px;
            height: 277px;
            @extend .section__container--load;
        }
    }
}

.footer{
    width: 100%;
    display: flex;

    &__container{
        width: 75%;
        height: 14vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
        
        .footer__container--h3{
            width: 80%;
            font-family: $font-title;
            font-size: $font-wParrafo;
            color: $white;
        }
    }
    
    .footer__logo{
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 5px 5px 5px;
        background-color: $white;
        
        .footer__logo--p{
            font-family: $font-parrafo;
            font-size: 10px;
        }
        
        .footer__logo--icon{
            width: 93%;
            margin: 5px;
        }
    }
}

/*Medida de celulares*/
@media screen and (min-width: 281px) and (max-width: 500px){
    .header{   
        .header__container{
            .header__label{
                height: 10vh;
                .header__label--input::placeholder{
                    font-size: 12px;
                }
            }
        }
    }

    .section3{
        .section3__container{
            justify-content: center;
        }
    }
    
    .footer{
        .footer__logo{
            .footer__logo--p{
                font-size: 12px;
            }
        }
    }
}

/*Medida de Surface Duo*/

@media screen and (min-width: 540px) and (max-width: 600px){
    .header{  
        .header__container{
            .header__img{
                display: flex;
                justify-content: center;
            }
            .header__label{
                height: 13vh;
            }
        }
    }

    .section{
        .section__container{
            .section__container--see{
                .section__container--ver{
                    font-size: 4vmin;
                }
            }
        }
    }

    .section3{
        .section3__container{
            grid-template-columns: repeat(3, 170px);

            .section3__container--img{
                width: 170px;
            }

            .buttonFav{
                left: 126px;
            }
        }
    }
    
    .footer{
        &__container{
            height: 15vh;
            .footer__container--h3{
                font-size: $font-wTitle;
            }
        }
        
        .footer__logo{
            .footer__logo--p{
                font-size: 18px;
            }
            
            .footer__logo--icon{
                width: 58%;
            }
        }
    }
}

/*Medida de celular volteado*/

@media screen and (min-width: 600px) and (max-width: 800px){
    .header{  
        .header__container{
            .header__label{
                height: 25vh;
            }
        }
    }

    .section3{
        .section3__container{
            justify-content: center;
            grid-template-columns: repeat(3, 170px);
            column-gap: 10px;

            .section3__container--img{
                width: 170px;
            }

            .buttonFav{
                left: 128px;
            }
        }
    }
    
    .footer{
        &__container{
            height: 30vh;
            .footer__container--h3{
                font-size: $font-wTitle;
            }
        }
        
        .footer__logo{
            .footer__logo--p{
                font-size: $font-wParrafo;
            }
            
            .footer__logo--icon{
                width: 47%;
            }
        }
    }
}

@media screen and (min-width: 801px) and (max-width: 991px){
    .header{   
        .header__container{
            .header__img{
                .header__img--logo{
                    width: 83px;
                }
            }
            
            .header__label{
                height: 20vh;
                justify-content: space-around;
                .header__label--input::placeholder{
                    font-size: $font-wParrafo;
                }
            }
        }
    }
    
    .section3{
        .section3__container{
            grid-template-columns: repeat(4, 180px);
            column-gap: 12px;
            
            .section3__container--img{
                width: 180px;
            }
    
            .buttonFav{
                left: 135px;
            }
        }
    }
    
    .footer{
        &__container{
            height: 30vh;

            .footer__container--h3{
                font-size: $font-wTitle;
            }
        }
        
        .footer__logo{
            .footer__logo--p{
               font-size: $font-wTitle;
            }
            
            .footer__logo--icon{
                width: 40%;
            }
        }
    }
}

/*Medida Nest Hub, Nest Hub Max y PC*/

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header{
        display: flex;
        justify-content: center;
        .header__container{
            width: 80%;
            .header__img{
                width: 9%;
                .header__img--logo{
                    width: 82px;
                }
            }
            .header__label{
                width: 88%;
                height: 13vh;
                justify-content: space-evenly;
            }
        }
    }

    .nav{
        width: 40%;
        margin: 0 49.2%;
        &__container{
            margin-right: 0;
            .nav__container--list{
                margin-top: 0;
                z-index: 1;
            }
        }
    }

    .navArrow{
        width: 34.3%;
        margin: 0 10%;
    }

    .section{
        &__container{
            width: 81%;
            margin-left: 9%;
            .section__container--subtitle{
                margin-left: 20px;
                margin-right: 0px;
                .section__container--h2{
                    font-size: 30px;
                }
            }
            .section__container--see{
                .section__container--ver{
                    font-size: 4vmin;
                }
            }
            .section__container--peliculas{
                margin-left: 22px;
                margin-right: 0;
            }
        }
    }

    .section2{
        .section2__container{
            .section2__container--imagen{
                .section2__container--imag{
                    height: 530px;
                }
            }
            .section2__container--details{
                width: 83%;
                margin: 0 9%;
            }
            .section2__container--subtitulo{
                width: 83%;
                margin: 0 9%;
            }
        }
    }

    .section3{
        .section3__container{
            width: 90%;
            margin-left: 70px;
            margin-right: 70px;
            grid-template-columns: repeat(4, 180px);
            .containerImgBtn{
                .section3__container--img{
                    width: 170px;
                }
                .buttonFav{
                    left: 125px;
                }
            }
        }
    }

    .footer{
        justify-content: center;
        .footer__container {
            width: 68%;
            .footer__container--h3{
                font-size: 22px;
            }
        }

        .footer__logo{
            width: 10%;
            
            .footer__logo--icon{
                width: 65%;
            }
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
    .header{
        display: flex;
        justify-content: center;
        .header__container{
            width: 80%;
            .header__img{
                width: 9%;
                .header__img--logo{
                    width: 100px;
                }
            }
            .header__label{
                width: 88%;
                height: 12vh;
                justify-content: space-evenly;
            }
        }
    }

    .nav{
        width: 40%;
        margin: 0 49.2%;
        &__container{
            margin-right: 0;
            .nav__container--list{
                margin-top: 0;
            }
        }
    }

    .navArrow{
        width: 34.3%;
        margin: 0 10%;
    }

    .section{
        &__container{
            width: 81%;
            margin-left: 9%;
            .section__container--subtitle{
                margin-left: 20px;
                margin-right: 0px;
                .section__container--h2{
                    font-size: 30px;
                }
            }

            .section__container--see{
                .section__container--ver{
                    font-size: 2vmin;
                }
            }
            .section__container--peliculas{
                margin-left: 22px;
                margin-right: 0;
            }
        }
    }

    .section2{
        .section2__container{
            .section2__container--imagen{
                .section2__container--imag{
                    height: 530px;
                }
            }
            .section2__container--details{
                width: 83%;
                margin: 0 9%;
            }
            .section2__container--subtitulo{
                width: 83%;
                margin: 0 9%;
            }
        }
    }

    .section3{
        .section3__container{
            width: 90%;
            margin-left: 70px;
            margin-right: 70px;
            grid-template-columns: repeat(5, 180px);
            .containerImgBtn{
                .section3__container--img{
                    width: 170px;
                }
                .buttonFav{
                    left: 130px;
                }
            }
        }
    }

    .footer{
        justify-content: center;
        .footer__container {
            width: 70%;
            height: 14vh;
            .footer__container--h3{
                font-size: $font-wSubtitle;
            }
        }

        .footer__logo{
            width: 10%;

            .footer__logo--p{
                font-size: 18px;
            }
            
            .footer__logo--icon{
                width: 54%;
            }
        }
    }
}