*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

$color-primary: #EB1768;
$color-secundario: #17C4EB;
$color-terciario: #EBD717;
$black: black;
$white: white;
$grey: #BCBCBC;

$font-title: 'Hind', sans-serif;;
$font-subtitle: 'Cabin', sans-serif;
$font-parrafo: 'Overpass', sans-serif;

$font-wTitle: 22px;
$font-wSubtitle: 18px;
$font-wParrafo: 16px;

$margin-right-left: 15px;