@media screen and (min-width: 600px) {
    .header{

        &__img{
            display: flex;
            justify-content: center;

            .header__img--logo{
            }
        }
        
        &__label{
            
            .header__label--input{
            }
            
            .header__label--input::placeholder{
            }
            
            .header__label--m{
                
                .header__m--menu{
                }
            }
        }
    }

    .nav{
        
        &__container{

            .nav__container--ul{
            }

            .nav__container--list{

                .nav__container--a{
                }
                .nav__container--a:hover{
                }
            }

            .active{
            }
            
            .nav__container--img{
            }
        }
    }

    .navArrow{
        
        .navArrow__back{
        }

        .navArrow__gender{
        }
    }

    .inactive{
    }

    .section{

        &__container{
            
            .section__container--subtitle{
                
                .section__container--h2{
                }
            }
            
            .section__container--see{
                
                .section__container--ver{
                }
                
                .section__container--ver:hover{
                }
            }

            .section__container--peliculas{
                
                .section__container--movie{
                }
            }
        }
    }

    .section2{
        
        &__container{

            .section2__container--imagen{
                
                .section2__container--imag{
                }
            }

            .section2__container--details{
                
                .section2__container--title{

                    .section2__container--titulo{
                    }
                }

                .section2__container--description{
                    .section2__container--sipnosis{
                    }
                }
            }

            .section2__container--subtitulo{
                .section2__container--Subtitle{
                    
                    .section2__container--h2{
                    }
                }
                .section2__container--puntos{
                    
                    .section2__container--star{
                    }
                    
                    .section2__container--point{
                    }
                }

                .section2__container--categorias{
                    
                    .section2__container--p{
                    }
                }
            }

            .section2__container--similar{

                .section2__container--simiSubtitle{

                    .section2__container--simiH2{
                    }
                }

                .section2__container--simiCate{

                    .section2__container--simiPeli{
                    }
                }
            }
        }
    }

    .section3{

        .section3__container{
            justify-content: center;

            .section3__container--img{
            }
        }
    }

    .footer{

        &__container{
            
            .footer__container--h3{
            }
        }
        
        .footer__logo{
            
            .footer__logo--p{
            }
            
            .footer__logo--icon{
            }
        }
    }
}